<div class="container">
  <!-- Header -->
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="https://locobuzz.com/index.html">
        <img src="../assets/logo.png" width="200" alt="Locobuzz">
      </a>
      <div class="navbar-text">
        <h1>Invoice</h1>
      </div>
    </nav>
  </header>

  <div class="main-content">
    <!-- App Invoice Details -->
    <app-invoice [grandTotal]="grandTotal"></app-invoice>

    <!-- Invoice List -->
    <app-invoice-list (amountChange)="getProductAmount($event)"></app-invoice-list>

    <!-- Total -->
    <div class="sub-total d-flex">
      <div class="table-responsive-sm ml-0 ml-md-auto">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Sub Total</th>
              <td><strong>&#8377;</strong> {{ totalAmount }}</td>        
            </tr>
            <tr>
              <th scope="row">GST <input type="text" class="form-control d-inline-block" [value]="gstPercentage" (input)="gstCalculation($event)">%</th>
              <td><strong>&#8377;</strong> {{ gstTotal }}</td>
            </tr>
            <tr>
              <th scope="row">Grand Total</th>
              <td><strong>&#8377;</strong> {{ grandTotal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>