/* Invoie */
.col-form-label {
    margin-right: 10px;
    color: var(--grey);
    font-size: 14px;
}

input.form-control-plaintext {
    padding: 5px;
    font-size: 14px;
}

.invoice-amount {
    font-size: 20px;
    font-weight: bold;
}